<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Courgette.ttf</string>
		<string>LouisGeorgeCafe.ttf</string>
		<string>LouisGeorgeCafeBold.ttf</string>
		<string>LouisGeorgeCafeBoldItalic.ttf</string>
		<string>LouisGeorgeCafeItalic.ttf</string>
		<string>LouisGeorgeCafeLight.ttf</string>
		<string>LouisGeorgeCafeLightItalic.ttf</string>
	</array>
</dict>
</plist>
